# Copy as `.env` and fill in your keys; do not commit `.env`.
# pip install python-dotenv

# ========== SOTA main model  ==========
SOTA_MODEL=gemini-2.5-pro
SOTA_API_KEY=XXX
SOTA_BASE_URL=https://www.litellm.org/
SOTA_TEMPERATURE=1.0

# ========== Rerank model  ==========
RERANK_MODEL=gemini-2.5-flash
RERANK_API_KEY=XXX
RERANK_BASE_URL=https://www.litellm.org/
RERANK_TEMPERATURE=1.0

# ========== benchmark model  ==========
TEST_API_KEY=XXX
TEST_BASE_URL=https://www.litellm.org/
LITELLM_LOGGING=True


# test_API_with_self_correction_gpt.py
TEST_JUDGE_MODEL_GPT=gpt-5-pro

# test_API_with_faithfulness_score.py
TEST_FAITHFULNESS_MODEL=gpt-5-pro
TEST_FAITHFULNESS_TEMPERATURE=0.4
